<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBCS" connectionString="data source=.;Integrated Security=SSPI;database=EmployeeServiceDemoDb"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="EmployeeService.EmployeeService">
        <endpoint address="EmployeeService" binding="basicHttpBinding"
          contract="EmployeeService.IEmployeeService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
      <service name="EmployeeServiceHost.CrossDomainService">
        <endpoint address="" binding="basicHttpBinding" contract="EmployeeServiceHost.ICrossDomainService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EmployeeServiceHost/CrossDomainService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->





  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EmployeeServiceHost.MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CrossDomainServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="EmployeeServiceHost.MyServiceBehavior" name="EmployeeService.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" contract="EmployeeService.IEmployeeService">

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/EmployeeService.EmployeeService" />
          </baseAddresses>
        </host>
      </service>
      <service name="EmployeeServiceHost.CrossDomainService">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="EmployeeServiceHost.ICrossDomainService" behaviorConfiguration="CrossDomainServiceBehavior"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>